.PlayWait{
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.PlayWaitMessage{
    position: relative;
    top: 45%;
    text-align: center;
}

.PlayWaitTimer{
    
}